/* You can add global styles to this file, and also import other style files #202124*/
body {
  /* background-color: #010305; */
  background-color: transparent;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}

