<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

<div class="appbar flex-container" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon id="drawer" (click)="drawer.toggle()" matTooltip="Drawer">menu</mat-icon>
    <p id="app-name" matTooltip="App name">Notes</p>
    <div class="options" fxLayout="row" fxLayoutAlign="none center">
        <mat-icon matTooltip="Refresh">refresh</mat-icon>
        <mat-icon matTooltip="Settings" [matMenuTriggerFor]="menu">settings</mat-icon>
        <img id="icon" src="../../assets/man.png" matTooltip="Avatar"/>
    </div>
</div>

<mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawer #mode mode="over">I'm a drawer</mat-drawer>
</mat-drawer-container>

<mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu>
